* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    height: 1800px;

}

section {
     padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
}





.background {
    background-image: url(arka%20plan%20resmi%202.jpg);
    background-size: cover;
    height: 830px;
     clip-path: polygon(0 12%, 100% 27%, 100% 98%, 0 85%);
    z-index: 3;
    margin-top: 50px;}

.inimg{
    width: 320px;
    height: 550px;
    background-color: lightgray;
 margin: 55px;
    margin-left: 150px;
    transition: box-shadow 0.4s;
    opacity: 0.7;
     border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.inimg:hover{
         box-shadow: 8px 8px 20px 2px rgba(0, 83, 64, 1.5)
}








.yazi{
   padding-top: 160px; 
   margin: 15px;
    font-size: 20px;
    color: darkgreen;
    transition: color 0.7s;
   font-weight: bolder;
   
}





.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;}


@media (min-width: 576px ){
    .container {
        max-width: 540px;
        
    }
   


@media (min-width: 768px ){
    .container {
        max-width: 720px;
        
    }
    


@media (min-width: 992px ){
    .container {
        max-width: 960px;
        
    }
    


@media (min-width: 1200px ){
    .container {
        max-width: 1140px;
        
    }
  








.text-uppercase {
    text-transform: uppercase;

}


nav {
    font-family: Montserrat;
    background-color: #182c28;
    color: #fff;
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    position: fixed;
    width: 100%;
    margin-top: 0px;
    z-index: 1;

}

#logo-box {
    float: left;
    padding-top: .5rem;
}




#logo-box .logo {
    color: #fff;
    font-weight: 700;
    font-size: 3.2rem;
}

#nav-links {
    float: right;

}

#nav-links .nav-item {
    float: left;
    margin: .4rem;
}

#nav-links .nav-link {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    letter-spacing: .1rem;
    transition: color .3s;

}

#nav-links .nav-link:hover {
    color: #9ea047;
}

.firsticon {
    font-size: 65px;
    margin-left: 160px;
   background-color: #9ed343;
    color: #fff;
   padding: 10px;
   border-radius: 10px;
    transition: color 0.4s;
     
  
}

.firsticon:hover{
    color: #005340;
 
}  

.secondicon{
     font-size: 65px;
    margin-left: 30px;
   background-color: #fdc926;
    color: #fff;
   padding: 10px;
   border-radius: 10px;
    transition: color 0.4s;
     
    
} 

.secondicon:hover{
      color: #e53f22;
 
}   

.thirdicon{
     font-size: 65px;
    margin-left: 30px;
   background-color:  #138ec2;
    color: #fff;
   padding: 10px;
   border-radius: 10px;
    transition: color 0.4s;
    
    
}

.thirdicon:hover {
    color: #070f34;
    
}


a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}




.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: Montserrat;
}



/* Portfolio */ 

#portfolio {
     height: 1300px;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
    
}

#portfolio h2 {
    font-size: 4.8rem;
    color: #8cd142;
}

.raptiye{
    border-top: .5rem solid;
    max-width: 40rem;
    margin: 2.5rem auto;
    height: 0;
    color: #182c28;
   border-bottom: none;
    border-right: none;
    border-left: none;
    
}

.iconraptiye{
    color: #8cd142;
    font-size: 3.5rem;
}

.col {
    float: left;
    width: 33.33333%;
    padding: 10px;
}

.portfolio-item{
    position: relative;
  
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.portfolio-item img{
    display: block;
}

.img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #d47b2e;
    opacity: 0;
    transition: opacity .5s ease;
}


 .img-overlay .icon {
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.portfolio-item:hover .img-overlay{
    opacity: 0.6;
}


.makale {
     position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
     opacity: 0;
    transition: opacity .5s ease;
    
}

.makale .icon{
     color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.portfolio-item:hover .makale{
    opacity: 0.7;
}


.orman {
     position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #005340;
     opacity: 0;
    transition: opacity .5s ease;
}


.orman .icon {
     color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio-item:hover .orman{
    opacity: 0.7;
}


.seyahat{
     position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #6a4838;
     opacity: 0;
    transition: opacity .5s ease;
}

.seyahat .icon {
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.portfolio-item:hover .seyahat{
    opacity: 0.7;
}

.seyahat1 {
    margin-top: 70px;
}

.okyanus2 {
    margin-top: 70px;
  
}

.buzullar3 {
    margin-top: 70px;
   
}



.okyanus {
     position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #02737e;
     opacity: 0;
    transition: opacity .5s ease;
}


.okyanus .icon {
     color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.portfolio-item:hover .okyanus{
    opacity: 0.7;
}

.buzullar {
     position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #070f34;
     opacity: 0;
    transition: opacity .5s ease;
}


.buzullar .icon {
      color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio-item:hover .buzullar{
    opacity: 0.7;
}


/* about */

#about {
    background-color: #005340;
    color: #fff;
    height: 1000px;
     padding-top: 10rem;
    padding-bottom: 10rem;
}



#about h1 {
    font-size: 4.8rem;
  
}

#about hr {
     border-top: .5rem solid;
    max-width: 40rem;
    margin: 2.5rem auto;
    height: 0;
    color: #9acf47;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

#about-text {
    text-align: left;
    padding-top: 5rem;
    
}

#about-text .left {
    float: left;
    width: 50%;
    padding-right: 2rem;
    padding-left: 23rem;
}

#about-text .right {
    float: right;
    width: 50%;
    padding-left: 2rem;
    padding-right: 23rem;
}

#about-text .text {
    font-size: 26px;
}

.btn {
    font-size: 3rem;
    padding: 2.4rem 1.6rem;
    margin-top: 20rem;
    display: inline-block;
    font-weight: 400;
    background-color: transparent;
    border: 5px solid #9acf47;
    color:  #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: all .5s;
}


.btn:hover {
    color: #005340;
    background-color: #9acf47;
    border-color:#9acf47;
}

/* contact */ 





#contact h1 {
    font-size: 4.8rem;
    color: #9acf47;
}

#contact hr {
     border-top: .5rem solid;
    max-width: 40rem;
    margin: 2.5rem auto;
    height: 0;
    color: #005340;
    border-bottom: none;
    border-right: none;
    border-left: none;
}


#contact-form {
    width: 70%;
    margin: 0 auto;
   
}


 .form-group {
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
     text-align: left;
     padding-top: 7rem;
}


.form-group input, .form-group textarea {
    border: none;
    width: 100%;
    display: block;
    font-size: 2.5rem;
    text-align: left;
}

.form-group input, .form-group textarea:focus {
    outline: 0;
}


.btnmsg {
    font-size: 3rem;
    padding: 2.4rem 1.6rem;
    margin-top: 6rem;
    display: inline-block;
    font-weight: 400;
    background-color: #9acf47;
    border: 5px solid #9acf47;
    color:  #005340;
    border-radius: 6px;
    cursor: pointer;
    transition: all .5s;
     border-color:#005340;
    text-align: center;
}

.btnmsg:hover {
     opacity: 0.6;
   
    
}
footer li {
    display: inline-block;
    margin-right: 1rem;
}

footer {
    
    padding-top: 6rem;
    padding-bottom: 6rem;
   
    background-color: #343a40;
    color: #fff;
    text-align: center;
    height: 300px;
}


footer h3 {
    font-size: 2.4rem;
}

footer p {
    font-size: 2rem;
}

.btn-social {
    width: 5rem;
    height: 5rem;
    border: none;
    font-size: 4rem;
    line-height: 3rem;
    cursor: pointer;
}

.insta {
    background-color: #343a40;
    color: #d03d78;
}

.facebook{
    color: #3d4894;
    background-color: #343a40;
}

.in {
     background-color: #343a40;
    color: #016fac;
}

.twit {
     background-color: #343a40;
    color: #4ebeeb;
}

.google {
      background-color: #343a40;
    color: #f3b604;
}

.telegram {
      background-color: #343a40;
    color: #32a350;
}


.col2 {
     float: left;
    width: 50%;
    padding: 13px;
    
}

.twitch {
     background-color: #343a40;
    color: #8c44f7;
}


.copyright {
    background-color: #212529;
    padding-top: 2.3rem;    
    padding-bottom: 2.3rem;
    color: #fff;
    text-align: center;
    font-size: 25px;
}


.resimalti {
    color: darkgreen;
    font-size: 35px;
    margin-top: 15px;
    font-weight: bold;
}




















